{% extends 'base.html' %}
{% block content %}
<h2>Tu Carrito</h2>
{% if error %}
    <p>{{ error }}</p>
{% elif items %}
    <ul>
    {% for item in items %}
        <li>{{ item.id_articulo.nombre }} - Cantidad: {{ item.cantidad }} - Precio: ${{ item.id_articulo.precio }}</li>
    {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    <a href="{% url 'store:realizar_pedido' %}">Realizar Pedido</a>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}
<a href="{% url 'dashboards:cliente_dashboard' %}">Volver a la tienda</a>
{% endblock %}