{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSale - Bienvenido</title>
    <link rel="stylesheet" href="{% static 'core/css/landing_styles.css' %}">
</head>
<body>
    <header class="navbar">
    <div class="navbar-left">
            <img src="{% static 'core/img/header_logo.png' %}" alt="header_logo" class="logo-img">
    </div>
    <div class="navbar-right">
        <a href="{% url 'accounts:register' %}" class="btn btn-nav">Regístrate</a>
        <a href="{% url 'accounts:login' %}" class="btn btn-nav">Inicia Sesión</a>
    </div>
</header>

<section class="banner">
    <h2>¡Descubre las mejores ofertas en electrónica, ropa y más!</h2>
</section>

    <section class="categories">
        <h2>Categorías Populares</h2>
        <div class="category-grid">
            {% for categoria in categorias %}
                <div class="category-card">
                    <h3>{{ categoria.nombre }}</h3>
                    <a href="{% url 'store:categoria' categoria.id_categoria %}" class="btn">Explorar</a>
                </div>
            {% empty %}
                <p>No hay categorías disponibles.</p>
            {% endfor %}
        </div>
    </section>

    <section class="promo-banner">
        <h2>¡Descuentos del 20% esta semana!</h2>
        <p>Regístrate ahora y aprovecha nuestras promociones exclusivas.</p>
        <a href="{% url 'accounts:register' %}" class="btn">¡Únete!</a>
    </section>

    <footer>
        <p>© 2025 eSale. Todos los derechos reservados.</p>
        <p>Contáctanos: soporte@esale.com</p>
    </footer>
</body>
</html>